# Godot 4+ specific ignores
.godot/
/android/
TODO.md
dataset/SandefjordEnergiConsumption*
ext_scripts/.venv/
ext_scripts/Coords And Rads/radiation/
ext_scripts/Coords And Rads/SandefjordSkolerCoords.txt
.idea/
ext_scripts/.idea/
